@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-color: #e0e0e0;
    --color: #100c18;
  }

  :root.dark {
    --background-color: #100c18;
    --color: #e0e0e0;
  }

  :root {
    @apply bg-bgc text-tc-primary;
  }

  .transaction-bgc {
    transition-property: background-color, color;
    transition-duration: 1s;
  }
}

/* 背景色：

主背景色: #100C18 - 这是一个非常深的紫色，几乎接近黑色，可以很好地衬托霓虹色调。
前景色：

主文本色: #E0E0E0 - 为了保证可读性，使用亮灰色作为主文本色。
次要文本色: #626262 - 深色背景下的次要文本可以使用稍微暗一些的灰色。
强调色：

主强调色: #00FFFF - 鲜艳的青色，常见于赛博朝霓虹灯中，用于突出重要元素。
次强调色: #FF007F - 霓虹粉红，为界面增添活力，适合用作按钮、图标等元素的强调色。
中性色：

边框和分隔线: #282A36 - 暗色调的灰蓝色，用于边框和分隔线，与背景形成适当的对比。
非活动状态元素: #3A3C4E - 深灰蓝色，用于不可用的按钮或非活动状态的控件。
辅助色：

错误色: #FF5555 - 鲜红色，用于错误提示或需要用户注意的元素。
警告色: #FFB86C - 橙黄色，用于警告信息或需要用户注意的元素。 */
